<style>
	.table1{
		border-color:rgba(180,207,207,0.4);
	}
	.td1,.td2{
		height: 36px;
	}
	.td1{
		text-align: right;
		padding-right: 5px;
		background-color: rgb(230,242,254);
		font-size: 14px;
	}
	.td2{
		padding-left: 5px;
	}	
</style>
<table class="table1" border="1" cellspacing="0" width="1110px">
    <form id="myform">
        <tr>
		<td class="td1">子类名称:</td>
		<td class="td2"><input type="text" name="sub_cat"/></td>
	</tr>
    <tr>
		<td class="td1">父类名称:</td>
		<td class="td2">
			<select name="main_cat">

                {% for cat in main_cat %}
                    <option>{{ cat.category_name }}</option>
                {% endfor %}

			</select>
		</td>
	</tr>
    </form>
	<tr>
		<td style="padding-left: 24%;" colspan="2">
			<input type="button" value="提交" id="submit"/>
			<input type="button" value="重置" id="reset"/>
            <span id="hint"></span>
		</td>
	</tr>
</table>
<script src="/static/js/jquery.1.4.2-min.js"></script>
<script>
    $("#submit").click(function () {

        $.get(
            "{% url 'Myadmin:zjzlb_logic' %}",
            $("#myform").serialize(),
            function (flag) {
                if(flag==0){
                    $("#hint").text("已存在相同类别!!")
                }else{
                    $("#hint").text("添加成功")
                }
            }



        )



    })
    $("#reset").click(function () {

        location.href="{% url 'Myadmin:zjzlb_page' %}"
    })






</script>